.Movies__inform{
    font-size: 16px;
    line-height: 115%;
    font-weight: 500;
    color: #EE3465;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    background-color: #202020;
    text-align: center;
}